@CHARSET "ISO-8859-1";

#sepLine {
	height: 20px;
	border-width: 2px;
	border-spacing: 0px;
}

input.load{
	font-weight: bold;
	font-size: medium;
	height: 30px;
	
	border: 1px solid black;
    background-color: silver;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px #000;
	cursor:pointer;
}

#submit {
	font-weight: bold;
	font-size: medium;
	height: 50px;
	width: 110px;
	margin-right: 1cm;
	
	border: 1px solid black;
    background-color: silver;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px #000;
	cursor:pointer;
    margin-right: 5px;
}

#outmost {
	margin:auto;
	width:auto;
	font-size: medium;
	font-style: oblique;
	font-family: monospace;
	background-color: silver;
}

table.playField {
	margin: auto;
	background-color: silver;

	border-style: outset;
	border-width: 0px;
	border-spacing: 2px;
	border-color: silver;
	
	border: 1px solid black;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px #000;
}

div.playFieldBorder {
	margin: auto;
	background-color: black;

	border-style: outset;
	border-width: 15px;
	border-spacing: 2px;
	border-color: black;
	
	border: 1px solid black;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px #000;
}

div.cellborder1 {
	border-style: outset;
	border-width: 2px;
	border-spacing: 0px;
	padding: 0px;
	border-color: silver;
	background-color: #E0E0FF;
}

div.cell {
	min-width: 46px;
	height: 46px;
	text-align: center;
	font-size: 50px;
	line-height: 45px;
	
	border-style: outset;
	border-width: 2px;
	border-spacing: 0px;
	
	
	border: 1px solid black;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px #000;
	cursor:pointer;
	margin: auto;
}

#cell {
	min-width: 100px;
	height: 46px;
	text-align: center;
	font-size: 30px;
	line-height: 45px;
	max-width: 100px;

	border-style: outset;
	border-width: 2px;
	border-spacing: 0px;

	border: 1px solid black;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px #000;
	cursor:pointer;
	margin: auto;
}

div.cellSum {
	background-color: yellow;
	min-width: 46px;
	height: 46px;
	text-align: center;
	font-size: 30px;
	line-height: 45px;	

	border-style: outset;
	border-width: 2px;
	border-spacing: 0px;
	border-color: yellow;

	border: 1px solid black;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px #000;
	cursor:pointer;
	margin: auto;
}

div.cellEmpty {
	background-color: #000000;
	min-width: 46px;
	height: 46px;
	text-align: center;
	font-size: 30px;
	padding: 0px;
	border-width: 0px;
	line-height: 45px;
	
	border-style: outset;
	border-width: 2px;
	border-spacing: 0px;
	border-color: #000000;

	border: 1px solid black;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px #000;
	cursor:pointer;
	margin: auto;
}
